.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  text-align: center;
}

.close {
  color: #aaa;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}